# Editors
*.kate-swp
*~
\#*#
.#*
.tramp_history
.*.swp
.project
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json

# Composer
/vendor
/composer.lock

# MediaWiki UI documentation
/docs/kss/static

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
/favicon.ico
/static*
/tags
/.htaccess
/.htpasswd
